<h1>Request Group Rate</h1>

<form class="" action="index.html" method="post">
  <input type="hidden" name="refferer" value="">
  Name: <input type="text" id="fieldName" name="name" value=""><br>
  Group Size: <input type="text" name="groupSize" value=""><br>
  Email: <input type="email" name="email" value=""><br>
  <input type="submit" name="" value="">
</form>

<script>
  $(document).ready(function(){
    $('input[name="referrer"]').val(document.referrer);
  });
</script>
